*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image:linear-gradient(
    50deg,
    #0f0f04 15%,
    #c4c720 50%,
    #0f0f04 84%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.consulta{
  padding: 2px;
}

.gas{
    border-radius: 4px;
    border: 2px solid black;
    
}

.eta{
    border-radius: 4px;
    border: 2px solid black;
}

.start{
    cursor: pointer;
}




















/*Multipleque o preço do alcool por 100
Divida pelo preço do litro da gasolina.
Se o resultado for 70 ou menos , isso indica que o etanol é mais vantajoso

Nova média é de 72,5% para efeito de calculo*/